/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* END OF CSS RESET*/

main {
    width: 485px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-color: black;
}

body{
    margin: auto;
    max-width: 500px;
}

h1{
    background-color: #ffffff;
    color: #007d7b;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

nav{
    height: 3.5em;
}
nav ul{
    display: flex;
    gap: 3em;
    margin: 2em 3em;
}

nav a{
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
}

nav li{
    text-transform: uppercase;
}

[href="#top"] {
    text-align: right;
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-radius: 10px 0 0px 0px;
    border-color: #ffffff;

}
#about-gallery{
    background-color: #ffffff;
    color: #000000;
    padding: 0.5em;
}

h2{
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

p{
    font-size: 1.25em;
    margin-top: 1em;
}

p + p{
    margin-bottom: 1em;
}

.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figure{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.75em auto;
}
figcaption{
    font-size: 1em;
    text-align: center;
}
img{
    width: 28em;
}


#chile {
    position: absolute;
    justify-content: center;
    display: flex;
    top: 275px;
    margin: 0px;
    color: white;
    text-transform: uppercase;
}

#guatemala {
    position: absolute;
    justify-content: center;
    display: flex;
    top: 25px;
    margin: 0px;
    color: white;
    text-transform: uppercase;
}

#hawaii{
    position: absolute;
    justify-content: center;
    display: flex;
    top: 275px;
    margin: 0px;
    color: white;
    text-transform: uppercase;
}

#iran {
    position: absolute;
    justify-content: center;
    display: flex;
    top: 25px;
    margin: 0px;
    color: black;
    text-transform: uppercase;
}

#ireland{
    position: relative;
    justify-content: center;
    display: flex;
    top: -660px;
    margin: 0px;
    color: black;
    text-transform: uppercase;
}

#italy {
    position: absolute;
    justify-content: center;
    display: flex;
    top: 635px;
    margin: 0px;
    color: black;
    text-transform: uppercase;
}

#moab{
    position: absolute;
    justify-content: center;
    display: flex;
    top: 275px;
    margin: 0px;
    color: white;
    text-transform: uppercase;
}
#rocky{
    position: absolute;
    justify-content: center;
    display: flex;
    top: 25px;
    margin: 0px;
    color: black;
    text-transform: uppercase;
}

#switzerland{
    position: absolute;
    justify-content: center;
    display: flex;
    top: 25px;
    margin: 0px;
    color: black;
    text-transform: uppercase;
}

#uk{
    position: absolute;
    justify-content: center;
    display: flex;
    top: 25px;
    margin: 0px;
    color: black;
    text-transform: uppercase;
}

#usa{
    position: absolute;
    justify-content: center;
    display: flex;
    top: 25px;
    margin: 0px;
    color: black;
    text-transform: uppercase;
}

#wyoming{
    position: absolute;
    justify-content: center;
    display: flex;
    top: 25px;
    margin: 0px;
    color: white;
    text-transform: uppercase;
}

#contact{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
#contact h2{
    color: white;
    margin-top: 0.25em;
}

#contact p{
    color: white;
    text-align: center;
}

fieldset div{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

legend{
    visibility: hidden;
}

label{
    display: grid;
    grid-template-columns: 1fr;
    justify-self: start;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    margin-left: 3em;
}

input{
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    font-size: 1em;
    margin-bottom: 1em;
    width: 25em;

}

input::placeholder{
    color: #007d7b;
    text-transform: uppercase;
}

input[type="submit"]{
    background-color: #007d7b;
    width: 20em;
    border-radius: 2em;
    margin: 1em 5.2em;
    color: white;
    text-transform: uppercase;
}

footer{
    color: white;
    text-transform: uppercase;
    text-align: center;
}

small{
    font-size: 1em;
}



@media screen and (min-width:880px) {

    main{
        width: 880px;
    }

    body{
        max-width: 900px;
        width: 100%;
    }

    h1{
        text-align: left;
    }

    nav ul{
        justify-content: center;
        margin-right: -1em;
    }
    
    #gallery{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    #gallery p{
        padding-left: 0.5em;
    }

    img{
        width: 24em;
    }

    .photos{
        display: grid;
        grid-template-columns: 400px 400px;
        width: 880px;
        margin: 0.75em 0px;
        justify-content: center;
        align-items: start;
        align-self: center;
    }

    figure{
        display: grid;
        width:24em;
        height: auto;
    }

    img:nth-child(odd){
        grid-column: 1/2;

    }

    img:nth-child(even){
        grid-column: 2/3;

    }

    figcaption{
        width: 200px;
        text-align: center;
    }

    #chile {
       top: 14em;
       left: 5em;
    }
    
    #guatemala {
        left: 6em;
    }
    
    #hawaii{
        top: 14em;
        left: 6em;
    }
    
    #iran {
        left: 6em;
    }
    
    #ireland{
       top: -35em;
       left: 6em;
    }
    
    #italy {
       top: 34em;
       left: 6em;
    }
    
    #moab{
        top: 14em;
        left: 6em;
    }
    #rocky{
        top: 1em;
        left: 5em;
        width: 220px;
    }
    
    #switzerland{
        top: 1em;
        left: 6em;
    }
    
    #uk{
       top: 1em;
       left: 6em;
    }
    
    #usa{
        top: 1em;
        left: 6em;
    }
    
    #wyoming{
       top: 1em;
       left: 6em;
    }

    label{
        margin-left: 8em;
    }

    input{
        width: 40em;
    }
}


@media screen and (min-width:1300px){
    main{
        width: 1300px;
    }

    body{
        width: 100%;
        max-width: 1300px;
    }

    nav ul{
        justify-content: end;
        margin-right: -2em;
    }

    #gallery p{
        padding-left: 0.5em;
    }

    .photos{
        display: grid;
        grid-template-columns: 400px 400px 400px;
        width: 1300px;
        margin: 0.75em 0px;
        justify-content: center;
        align-items: start;
        align-self: center;
    }

    input{
        width: 65em;
    }

    label{
        margin-left: 9em;
    }
}
